.Toolbar {
    position: relative;
    width: 100%;
    padding: 0 35px;
    height: 65px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: #fff;
    z-index: 100;
}

.Toolbar ul li {
    display: inline-block;
}

.Toolbar ul li:last-child {
    margin-left: 10px;
}

.Toolbar ul li a {
    text-decoration: none;
    color: #fff;
}

.Toolbar ul li a:hover {
    color: #2E863F;
}

.Toolbar .brand {
    margin-top: 12px;
}